*{
margin: 0;
padding: 0;
}

#heading {
    font-size: 3.5rem;
    color: #e0e1dd;
}

body {
    background-color: #0d1b2a;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 1);
    font-size: 8vmin;
    color: #fca311;
    background-color: #faedcd;
}

#reset-btn {
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #191913;
        color: #fff;
        border-radius: 1rem;
        border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide {
    display: none;
}

.fa-heart{
    color: #f44336;
}

#footer {
  
  text-align: center;
  margin-top: 65px;
  position: relative;
  font-size: 15px;
  
}